<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--        template 3.1-->
<!--Використовуючи данні з масиву, за допомоги document.write та циклу-->
<!--побудувати структуру по шаблону template3.1 Зробити адекватну стилізацію-->
<!--Великими літерами прописанні властивості об'єкту які потрібно впровадити в шаблон-->
<!--<div>-->
<!--    <div class="product-card">-->
<!--        <h3 class="product-title">TITLE. Price - PRICE</h3>-->
<!--        <img src="" alt="" class="product-image">-->
<!--    </div>-->
<!--
            інші об'єкти з масиву
            ...
            ...
            ...
-->

<!--</div>-->
<script src="template3.1.js">

</script>

<!--<style>-->

<!--    .img{-->
<!--        width: 250px;-->
<!--        height: 300px;-->
<!--        margin-top: 20px;-->
<!--    }-->
<!--    .product-title{-->
<!--        /*text-align:center ;*/-->
<!--    }-->
<!--    /*.product-card{*/-->
<!--    /*    border: 3px solid blue;*/-->
<!--    /*    border-radius: 5px;*/-->
<!--    /*    padding: 5px;*/-->
<!--    /*    margin:5px ;*/-->
<!--    /*}*/-->
<!--</style>-->

</body>
</html>