<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--template 2.2-->
<!--<div>-->
<!--    <h2>NAME SURNAME. age is - AGE</h2>-->
<!--    <p>INFO</p>-->
<!--    <img src="PHOTO" alt="">-->
<!--</div>-->
<!--
інші об'єкти з масиву
...
...
...
-->
<script src="template2.2.js"></script>
</body>
</html>